.contenedor-testimonio {
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
}

.imagen-testimonio {
    height: 100%;
    width: auto;
}

.contenedor-texto-testimonio {
    text-align: center;
    width: 100%;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}

.nombre-testimonio {
    font-size: 1.3rem;
}

.cargo-testimonio {
    font-size: 1.3rem;
    margin-top: 15px;
    padding-bottom: 30px;
}

.texto-testimonio {
    font-size: 1.1rem;
    text-align: justify;
}

@media only screen and (max-width: 480px) {
    
    .contenedor-testimonio {
        width: 350px;
        height: 800px;
        margin: 10px 10px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }


    .contenedor-texto-testimonio{
        padding: 20px ;
    }
    
     .texto-testimonio {
        padding: 10px;
     }

  }
  
  @media only screen and (min-width: 481px) and (max-width: 1024px) {
    .contenedor-testimonio {
        width: 370px;
        height: 800px;
        margin: 10px 80px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }


    .contenedor-texto-testimonio{
        padding: 20px ;
    }
  }
