* {
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 18px;
  background-color: #F5f6f7;
}

h1 {
  max-width: 940px;
  font-size: 2.5em;
  font-family: Lato, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0px;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contenedor-principal {
  min-height: 600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 480px) {
  h1{
    font-size: 2rem;
    text-align: center;
  }

  .contenedor-principal{
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /* Estilos específicos para tablets */
  /* Puedes agregar aquí los cambios que desees realizar */
}

